# Visual Studio Folder
OpenGLCPP_3DSnake/.vs/*

# Debug Folder
OpenGLCPP_3DSnake/Debug/*

# Debug and Backup folders
OpenGLCPP_3DSnake/OpenGLCourseApp/Debug/*
OpenGLCPP_3DSnake/OpenGLCourseApp/Backup/*